/* @media*/

@media screen and (max-width: 1280px) {
    /*Header and footer*/
    .header, .footer, .size, .inf_about_us {
        width: 1080px;
        font-size: 14px;
    }

    .menu {
        font-size: 14px;
    }

    .menu_items a {
        margin-right: 10px;
    }

    .t_cell {
        padding-right: 10px;
    }

    .number {
        font-size: 23px;
    }

    .alumeta {
        font-size: 13px;
    }

    .f_content a {
        margin-left: 10px;
    }

    .f_contacts li:last-child {
        font-size: 23px;
    }

    .networks {
        margin-right: 185px;
    }

    .f_about_us p {
        font-size: 13px;
    }

    /*End of Header and Footer*/

    /* Part of Content*/
    .features {
        margin-left: -540px;
        width: 1080px;
    }

    .foto_about_us {
        margin-top: 180px;
        height: 370px;
        width: 540px;
    }

    .inf_about_us {
        margin-left: -540px;
    }

    .foto_certificates {

        height: 370px;
        width: 440px;
    }

    .c_caption {
        margin-top: 230px;
    }

    .certificates {
        height: 800px;
    }
}