@media screen and (max-width: 1045px) {
    /*Header and footer*/
    .header, .footer{
        width:auto;
    }
    .menu_items {

        display: none;
    }

    .alumeta{
        position: absolute;
        right: 1.5em;
    }
    .language{
        position: absolute;
        right: 1.5em;
        top:85px;
        margin-top: 0px;

    }
    .menu_togle{
        display: block;
        position: absolute;
        top: 78px;
        right: 1.5em;
    }

    #footer{
        height: auto;
    }
    .f_area_logo, .networks{
        justify-content: flex-start;
    }
    .f_content{
        flex-direction: column;
        margin-top: 30px;
    }
    .f_menu, .f_contacts, .f_production{
        margin-left: 0px;
    }
    .f_about_us {
        justify-content: flex-start;
        margin-top: 35px;
        margin-bottom: 35px;
        align-items: baseline;
        flex-direction: column;
    }
    .f_content li {
        margin-top: 15px;
    }
    .f_contacts li:last-child{
        margin-top: 35px;
    }
    .networks{
        margin-top: 35px;
    }
    .f_text{
        text-align: left;
        width: auto;
    }
    .f_menu, .f_production, .f_contacts, .f_text, .f_logo, .f_alumeta{
        margin-left: 58px;
    }

    .networks{
        margin-left: 33px;
    }
    /*End of Header and footer*/

    /*Part of content*/
    .size{
        width: 1024px;
    }
    .features{
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
    .holding_text{
        margin-left: 540px;
    }
    .c_caption, .c_info{
        margin-left: 190px;
    }
    .foto_certificates{
        margin-left: 540px;
    }
}