@media only screen and (max-device-width: 860px) {
    /*Header and footer*/
    .menu_info {
        display: none;
    }

    .menu_togle {
        top: 72px;
    }

    .language {
        top: 80px;
    }

    /*End of Header and footer*/

}
@media only screen and (max-device-width: 800px) {
    /*Header and footer*/
    .footer, .header {
        width: 100%;
    }

    .logo {
        height: 150px;
    }

    .logo1 {
        width: 140px;
        height: 150px;
        background-size: auto 150px;
    }

    .logo2 {
        width: 112px;
        height: 25px;
        margin-top: 50px;
        background-size: auto 25px;
    }

    .menu_togle {
        top: 45px
    }

    .language {
        top: 50px;
    }

    .f_menu, .f_production, .f_contacts, .f_text, .f_logo, .f_alumeta {
        margin-left: 35px;
    }

    .networks {
        margin-left: 10px;
    }

    /*End of Header and footer*/
    /*Part of content*/
    body {
        width: 100%;
    }

    .size, .inf_about_us, .cap_foto {
        width: 100%;
    }

    .certificates {
        height: auto;
    }

    .caption_text {
        margin-left: 0px;
    }

    .caption h2 {
        font-size: 50px;
    }

    .features {
        width: 100%;
        margin-left: 0px;
        left: 0px;
        height: 450px;
    }

    .features_img {
        position: absolute;
        width: 55%;
    }

    .features_text {
        margin-top: 40px;
        margin-left: 20px;
    }

    .content h3 {
        font-size: 25px;
    }

    .content p {
        font-size: 16px;
    }

    .holding_text, .certificates_text, .c_caption, .caption_text {
        margin-left: 10px;
        width: 90%;
    }

    .foto_certificates, .foto_about_us {
        width: 70%;
        margin-left: 0px;
    }

    .inf_about_us, .history {
        width: 100%;
        margin-left: 0px;
        left: 0px;
    }

    .history {
        margin-top: 350px;
        padding-left: 10px;
        width: 90%;
    }

    .foto_certificates, .foto_about_us {
        height: 300px;
    }

    .c_info {
        margin-left: 0px;
    }

    .c_icons img {
         margin-left: 30px;
         width: 100px;
     }
    .c_icons img:first-child {
        margin-left: 10px;
    }

    .c_icons{
        padding-bottom: 70px;
    }
    .c_caption{
        margin-top: 250px;
    }
}