@media screen and (max-width: 1080px){
    /*Header and footer*/
    .header,.footer{
        width: 1024px;
    }

    .logo{
        height: 200px;
    }
    .logo1 {
        width: 185px;
        height: 200px;
        background-size: auto 200px;
    }

    .logo2 {
        width: 144px;
        height: 32px;
        margin-top: 70px;
        background-size: auto 32px;
    }

    .f_contacts, .f_production {
        margin-left: 95px;
    }
    .menu{
        margin-left: 50px;
    }
    /*End of Header and footer*/

    /**/
}