@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html{
    overflow-x: hidden;
}
body {
    min-width: 100%;
    display: inline-flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: #14e7fc;
    overflow-x: hidden;

}

ul li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

ul {

    margin: 0px;
    padding: 0px;
}

a, li, span {
    color: white;
}

a:hover {
    text-decoration: none;
    border: none;
    opacity: 0.6;
}

.uk-grid > * {
    padding: 0px;
}

/*  HEADER  */
#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1280px;
    width: 1280px;
    margin: 0px auto;
}

.logo {
    display: inline-flex;
    height: 240px;
}

.logo1 {
    background-image: url("../img/logo1.png");
    width: 225px;
    height: 240px;
}

.logo2 {
    background-image: url("../img/logo2.png");
    width: 189px;
    height: 42px;
    margin-top: 80px;
    margin-left: 18px;
}

.menu {
    font-size: 18px;
    font-family: "GothamProRegular";
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.menu_info {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.menu_items {
    margin-top: 40px;
}

.menu_items a {
    margin-right: 15px;
}

.alumeta {
    font-size: 16px;
    display: flex;
    color: white;
}

.alumeta_logo {
    display: inline-flex;
    background-image: url("../img/allimeta.png");
    width: 114px;
    height: 43px;
    margin-top: -10px;
    margin-left: 25px;
}

.number {
    font-weight: bold;
    display: inline-flex;
    color: white;
    font-size: 30px;
}

.t_cell {
    color: white;
    display: table-cell;
    padding-right: 15px;
}

.language {
    margin-top: 40px;
    color: white;
    display: inline-flex;
    align-items: flex-end;
}

.uk-open > .uk-dropdown, .uk-open > .uk-dropdown-blank {
    display: flex;
    flex-direction: column;
}

.uk-dropdown {
    background: none;
    padding: 3px;
    width: auto;
}

/*End of header*/

/*Block whith transform*/
.block {

    position: absolute;
    top: 200px;
    left: 200px;
    width: 900px;
    height: 300px;
    transform: rotate(-9deg) skewX(-9deg);
    box-shadow: 0 0 40px black;
}

.text {
    color: black;
    width: 40%;
    margin-top: 70px;
    margin-left: 40px;
    transform: rotate(9deg);
}

.img {
    position: relative;
    overflow: hidden;
    top: -163px;
    float: right;
    right: 0px;
    width: 60%;
    height: 100%;
}

.img:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../img/foto.png) 0 0 repeat;
    background-size: cover;
    transform: rotate(9deg) skewX(9deg);
}

/*End of block whith transform*/

/*Footer*/
#footer {
    display: flex;
    position: relative;
    bottom: 0px;
    height: 760px;

}

.footer {
    font-size: 18px;
    font-family: "GothamProRegular";
    width: 100%;
    display: flex;
    max-width: 1280px;
    width: 1280px;
    margin: 0px auto;
    flex-direction: column;
    margin-top: 170px;
}

.footer ul {
    display: block;
}

.f_content {
    width: 100%;
    display: inline-flex;
    margin-top: 60px;
}

.f_menu {
    margin-left: 80px;
}

.f_contacts, .f_production {
    margin-left: 120px;
}

.f_menu li:before {
    content: "|";
}

.f_content a {
    margin-left: 15px;
}

.f_production li:first-child:before, .f_contacts li:first-child:before {
    content: "|";
}

.f_content li {
    margin-top: 25px;
}

.f_contacts li {
    margin-left: 15px;
}

.f_contacts li:first-child {
    margin-left: 0px;
}

.f_contacts li:last-child {
    font-size: 30px;
    margin-top: 70px;

}

.f_area_logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.f_logo {
    width: 250px;
    height: 91px;
    background-image: url("../img/f_logo.png");
    background-repeat: no-repeat;
    background-size: auto 91px;

}

.networks {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 245px;
}

.networks a {
    margin-left: 25px;
    color: rgb(16, 140, 154);
    opacity: 1;
}

.f_about_us {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    align-items: center;

}

.f_about_us p {
    color: white;
    font-size: 15px;

}

.f_text {
    width: 620px;
    display: flex;
    margin-right: 45px;
    text-align: right;
}

.f_alumeta {
    background-image: url("../img/allimeta.png");
    background-repeat: no-repeat;
    background-size: 220px 80px;
    width: 220px;
    height: 80px;
}

.menu_togle {
    display: none;
}

/*End of footer*/
.uk-modal-dialog > .uk-close:first-child + :not([class*='uk-modal-']) {
    margin-top: 50px;
}

.uk-modal-dialog > :not([class*='uk-modal-']):last-child {
    margin-bottom: 50px;
}

.uk-modal-dialog a {
    color: #14e7fc;
}

.uk-modal-dialog ul {
    width: 50%;
    margin: auto;
}

.uk-modal-dialog li:hover {
    border-bottom: solid 2px #14e7fc;
}

.uk-modal-dialog li {
    text-align: center;
    font-family: "GothamProRegular";
    font-size: 18px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.uk-modal-dialog {
    border: solid 20px #14e7fc;
}

/*Content*/
.content {
    height: auto;
    width: 100%;
}

/*first_block*/
.caption {
    background-image: url("../img/first_block.jpg");
    height: 900px;
    background-size: cover;

}

.size {
    width: 1280px;
    height: 100%;
    margin: 0px auto;

}

.caption h2 {
    font-size: 48px;
    font-family: "GothamProRegular";
    color: rgb(255, 255, 255);
}

.caption_text {
    padding-top: 355px;
    margin-left: 220px;
}

/*end of first block*/

.about_us {
    z-index: 3;
    overflow: hidden;
    position: relative;
    margin-top: -230px;
    left: -3%;
    width: 105%;
    height: 900px;
    transform: rotate(-13deg) skewX(-13deg);
}

.about_us:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 180%;
    top: -45%;
    left: -14%;
    z-index: -1;
    background: url(../img/about_us_fon.jpg) 0 0 no-repeat;
    background-size: cover;

    transform: rotate(12deg) skewX(12deg);
}

.inf_about_us {
    display: inline-flex;
    justify-content: space-between;
    height: 100%;
    width: 1280px;
    position: relative;
    left: 50%;
    margin-left: -640px;
    transform: rotate(12deg) skewX(12deg);
}

.foto_about_us {
    z-index: 4;
    margin-top: 160px;
    position: absolute;
    overflow: hidden;
    height: 470px;
    width: 640px;
    transform: rotate(-10deg) skewX(-10deg);
    box-shadow: 0 0 40px black;
}

.foto_about_us:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 140%;
    top: -30%;
    left: -35%;
    z-index: -1;
    background: url(../img/about_us.jpg) 0 0 no-repeat;
    background-size: cover;

    transform: rotate(9deg) skewX(10deg);
}

.history {
    width: 500px;
    margin-top: 25px;
    margin-left: 780px;
}

.content h3 {
    font-size: 30px;
    font-family: "GothamProRegular";
    color: black;
    line-height: 1.167;
}

.content p {
    font-size: 15px;
    font-family: "GothamProRegular";
    color: black;
}

.holding {
    position: relative;
    margin-top: -225px;
    width: 100%;
    height: 1370px;
    background-image: url("../img/holding_fon.jpg");
    background-size: cover;
}

.certificates {
    width: 105%;
    margin-top:-220px;
    height: 1040px;
    z-index: 5;
    overflow: hidden;
    position: relative;
    left: -3%;
    background-color: white;
    transform: rotate(-13deg) skewX(-13deg);

}

.certificates .size{
    transform: rotate(12deg) skewX(12deg);
}

.features {
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -640px;
    z-index: 999;
    display: inline-flex;
    background-color: white;

    width: 1280px;
    height: 500px;
    transform: rotate(-10deg) skewX(-10deg);
    box-shadow: 0 0 40px black;
}

.features_text {
    color: black;
    width: 40%;
    margin-top: 170px;
    margin-left: 40px;
    transform: rotate(9deg) skewX(10deg);
}

.features_img {
    position: relative;
    overflow: hidden;

    float: right;
    right: 0px;
    width: 60%;
    height: 100%;
}

.features_img:before {
    content: "";
    position: absolute;
    width: 160%;
    height: 160%;
    top: -29%;
    left: -13%;
    z-index: -1;
    background: url(../img/foto.jpg) 0 0 repeat;
    background-size: cover;
    transform: rotate(9deg) skewX(10deg);
}

.holding_text {
    width: 490px;
    margin-left: 640px;
    padding-top: 570px;
}

.foto_certificates {
    z-index: 6;
    margin-top: 300px;
    margin-left: 640px;
    position: absolute;
    overflow: hidden;
    height: 470px;
    width: 640px;
    transform: rotate(-9deg) skewX(-9deg);
    box-shadow: 0 0 40px black;
    float: right;
}

.foto_certificates:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -80%;
    left: -60%;
    z-index: -1;
    background: url(../img/certificates.jpg) 0 0 no-repeat;
    background-size: cover;

    transform: rotate(9deg) skewX(9deg);
}

.cap_foto {
    display: inline-flex;
    justify-content: space-between;
    width: 1280px;
}

.c_caption {
    margin-top: 320px;
    margin-left: 290px;
    width: 300px;
}

.certificates_text {
    width: 540px;
}

.c_info {
    margin-left: 290px;
    margin-top: 50px;
}

.c_icons img {
    margin-top: 80px;
    margin-left: 150px;
}

.c_icons img:first-child {
    margin-left: 30px;
}

/*End of content*/

