

@media only screen and (max-device-width: 560px) {

    .caption h2 {
        font-size: 40px;
    }
    .features {
        height: 400px;
    }
    .features_img {
        width: 50%;
    }
    .features_text {
        margin-top: 20px;
        margin-left: 20px;
    }
    .content h3 {
        font-size: 20px;
    }

    .content p {
        font-size: 11px;
    }
    .foto_certificates {
        width: 100%;
        margin-left: 0px;
    }
    .foto_about_us{
        width: 100%;
    }

}
@media only screen and (max-device-width: 380px) {
    .content p{
        font-size: 8px;
    }
    .caption h2{
        font-size: 36px;
    }
    .logo2{
        display: none;
    }
    .c_icons img{
        width: 80px;
    }
}




